*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --textbasecolor:#2e2f42; /* базовый цвет шрифта*/
    --buttonbasecolor:#4d5ae5; /* цвет кнопки, эффекты */
    --textsecondcolor: #404455; /* второй цвет шрифта*/
    --addtextcolor: #ffffff; /*доп цвет заголовков, кнопок*/
    --buttonbackcol: #404BBF; /*цвет бека кнопки*/
    --footertextcol: #f4f4fd; /*цвет текста в футере*/
    --footerlogocol: #f4f4fd; /*цвет лого STUDIO в футере*/
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
/* общий стиль хедера для страницы studio и portfolio */
.header {

}

.box-contacts {

} 

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.list-menu {
    list-style: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--buttonbasecolor);
}
.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--textbasecolor);
}
.logo-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footerlogocol);
}
.menu { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--textbasecolor);
    text-decoration: none;
}
.menu:hover {
    color :var(--buttonbackcol);
}
.menu:focus {
    color: var(--buttonbackcol);
}
.list-contacts {
    list-style: none;
}
.contacts {
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
font-style: normal;
color:#434455;
}
.contacts:hover, .contacts:focus {
    color: var(--buttonbackcol);
}
/* конец хедера */
/* страница Studio */
.hero {
    background: var(--textbasecolor);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--addtextcolor);  
}
.button-order {
    font-family: inherit;;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--addtextcolor);
    background-color: var(--buttonbasecolor);
    cursor:pointer;      
    border: 0px solid var(--buttonbasecolor);
}
.button-order:hover {
    background-color: var(--buttonbackcol);
}
.button-order:focus {
    background-color: var(--buttonbackcol);
}
.benefits {

}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--textbasecolor);
}
.benefits-list {
    list-style: none;
}
.benefits-item {

}
.benefits-text {
    line-height: 1.5;
    color:var(--textsecondcolor);
}
.team {
    background-color: #F4F4FD ;
}
.team-text {
    color:var(--textsecondcolor);
}

.team-title {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--textbasecolor);
    text-transform: capitalize;
    text-align: center;
}
.team-list {
    list-style: none;
}
.team-card { 
    background-color: #ffffff;
    overflow: hidden;
}

/* секция Portfolio */
.portfolio {

}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--textbasecolor);
    text-transform: capitalize;
    text-align: center;
}
.portfolio-list {

}

.portfolio-card {
    list-style: none;
}
.portfolio-item {
    background-color: #ffffff;
    border-top: none;
}
.portfolio-title-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--textbasecolor);
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    color: var(--textsecondcolor);
}
/* общий футер */
.footer {
    background-color: var(--textbasecolor);
}
footer .logo{

}
.footer-text {
    line-height: 1.5;
    color: var(--footertextcol);
}
/* конец общего футера */
